body{

    margin: 0px;
}
.nav{
    display:flex;
}

.left-section{
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 30%;
}
.left-section div{
    cursor: pointer;
}
.youtube-logo{
    width: 70px;
    padding:10px;
    margin-top: 10px;
}
.menu-logo{
    width: 24px;
    padding:10px;
    padding-top:20px;
}
.mid-section{
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 40%;
    
}
/**/
.search{
    display: flex;
    flex-grow: 1;
    align-items: center;
    border: 1px solid grey;
    padding: 0px;
}
.search>img {
    width: 20px;
    margin-left: 20px;
    margin-right: 10px;
}
.search input{
    width: 80%;
    padding: 7px;
    border:none
}
.search button{
    display: block;
    height: 40px;
    word-spacing: 0px;
    margin: 0px;
    border-top: none;
    border-bottom: none;
    border-left: 1px gray solid;
    border-right: none;
    padding: 0 18px 0 18px;
    background-color:rgb(248,248,248);
    transition: background-color 0,7s;
}
.search button:hover{

    background-color:rgb(235, 235, 235);
}
.search button>img{
    width: 25px;
}
.mid-section>img {
    width: 25px;
    margin-left: 15px;
    margin-right: 10px;
}
.right-section{
    display: flex;
    margin-left: auto;
    margin-top: 5px;
}

.right-section div {
    width: 36px;
    padding: 8px;
}
.right-section div img{
    width: 24px;
}
.right-section .profile>img{
    width: 24px;
    border-radius: 12px; ;
}

