body{
    font-family: Roboto, Arial, sans-serif;
   
    overflow-y: hidden;
    margin: 0px;
}
/*------------nav---------------*/
.nav{
    display:flex;
}
/*------------left section---------------*/

.left-section{
    display: flex;
    align-items: center;
    margin-left: 10px;
    min-width: 140px;
    width:30%
}
.left-section div{
    cursor: pointer;
}
.youtube-logo{
    width: 70px;
    padding:10px;
    margin-top: 0px;
}
.menu-logo{
    width: 24px;
    padding:10px;
    padding-top:14px;
}
/*------------mid section---------------*/
.mid-section{
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 40%;
    
}
@media only screen and (max-width: 400px) {
    .mid-section{
        display: none;
    }
}
/**/
.search{
    display: flex;
    flex-grow: 1;
    align-items: center;
    border: 1px solid grey;
    padding: 0px;
}
.search>img {
    width: 20px;
    margin-left: 20px;
    margin-right: 10px;
}
.search input{
    width: 80%;
    padding: 7px;
    border:none
}
.search button{
    display: block;
    height: 40px;
    word-spacing: 0px;
    margin: 0px;
    border-top: none;
    border-bottom: none;
    border-left: 1px gray solid;
    border-right: none;
    padding: 0 18px 0 18px;
    background-color:rgb(248,248,248);
    transition: background-color 0,7s;
}
.search button:hover{
    
    background-color:rgb(235, 235, 235);
}
.search button>img{
    width: 25px;
}
.mid-section>img {
    width: 25px;
    margin-left: 15px;
    margin-right: 10px;
}
/*------------right section---------------*/
.right-section{
    display: flex;
    margin-left: auto;
    margin-top: 5px;
}

.right-section div {
    width: 36px;
    padding: 8px;
}
.right-section div img{
    width: 24px;
}
.right-section .profile>img{
    width: 24px;
    border-radius: 12px; ;
}

/*------------menu---------------*/
.main{
    
    display: flex;
}
.main-videos{
    flex: auto;
    border-top: 0.25px solid rgb(172, 172, 172);
}
.tags{
  
    display: flex;
    padding: 5px 5px 2px 5px;
    margin-top: 5px;
    max-width: 70vw
}


.tags .tag{
    background-color: rgba(0,0,0,0.05);
    border-radius: 15px;
    font-size: 10px;
    padding: 5px 10px 5px 10px;
    margin: 0 5px 5px 5px;
    white-space: nowrap;
}
.tags .tag-active{
    background-color: rgb(0,0,0);
    color: white;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    margin: 0 5px 5px 5px;
}
.videos{  
    max-height: 100vh;
    border-top: 0.05px solid rgb(172, 172, 172);
    overflow: scroll;
}

.videos::-webkit-scrollbar {
    width: 6px;
    
	background-color:#161010;
    }
.videos::-webkit-scrollbar-track {
        border-radius: 3px;
        background-color: #FFFFFF;
      }
      .videos::-webkit-scrollbar-thumb {
        
        border-radius: 3px;
        border: 1.5px solid transparent;
        background-clip: content-box;
        background-color: #888;
        /* or add it to the track */
      }
      .videos::-webkit-scrollbar-thumb:hover
      {
          background-color: #b3b2b2;
      }




.menu{
    width: 218px;
    display: inline-block;
    vertical-align: top;
    max-height: 100vh;
    overflow: scroll;
}
.menu::-webkit-scrollbar {
    width: 6px;
    
	background-color:#F5F5F5;
    }
    .menu::-webkit-scrollbar-track {
        border-radius: 3px;
        background-color: #FFFFFF;
      }
      .menu::-webkit-scrollbar-thumb {
        
        border-radius: 3px;
        border: 1.5px solid transparent;
        background-clip: content-box;
        background-color: #888;
        /* or add it to the track */
      }
      .menu::-webkit-scrollbar-thumb:hover
      {
          background-color: #b3b2b2;
      }
.menu-item{ 
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.Abonnements h3{
    color: #606060;
    font-size: 12px;
     font-weight: 500;
    margin-left: 19px;
}
.Abonnements .menu-item{ 
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.menu-item:hover{
    background: rgba(0,0,0,0.05);
}
.menu-item-active{
    background: rgba(0,0,0,0.05);
}
.menu-item div{
    display: inline-block;
}
.icone{
    vertical-align: middle;
}
.Abonnements .icone img{
    height: 24px;
    width: 24px;
    border-radius: 12px;
}
.menu-item div img{ 
    width: 23px;
    margin: 6px;
    margin-left: 20px;
}
.sub-menu-item
{
    margin-top: 6px;
    padding-top: 6px;
    border-top: solid 1px rgba(0, 0, 0, 0.1);
}
.text{
    vertical-align: middle;
    margin-left: 10px;
    font-size: 12px;
    line-height: 2rem;
    font-weight: 400;
    color: #030303
}
